@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Logo font */
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 1920px;
  width: 100%;
  overflow: hidden;
}

a.my-logo {
  font-size: 35px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Qwigley", cursive, sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}

.nav-item {
  margin-bottom: 10px !important;
}

.nav-link {
  padding: 6px 10px;
  margin-right: 25px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  color: #fff !important;
  transition: all 0.3s ease;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #fff;
  color: #2c59aa !important;
}

/*========= BANNER STYLE HERE ========== */
.banner {
  /* min-height: calc(100vh - 80px); */
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #010718 50%, black 100%); */
  background-color: #010718;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.bg-dark {
  background-color: #010718 !important;
}

/* change navbar bg color here */
.bg-tr-dark {
  background-color: #010718cd !important;
  box-shadow: 0px 10px 5px -15px #111;
}

/* ======== typed text style here ======== */
.text-wrapper {
  min-width: 245px;
  overflow: hidden;
}

.text-wrapper .text {
  position: relative;
  color: #4070f4;
  font-size: 30px;
  font-weight: 600;
}

.text-wrapper .text.first-text {
  color: #fff;
}

.text-wrapper .text.sec-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010718;
  /* background-color: red; */
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}
/* ======== typed text style end ======== */

.username {
  font-family: "Teko", sans-serif;
}

.about-img {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 6px;
  overflow: hidden;
}

.about-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============== BANNER Social icons here ============= */
.social_icons {
  position: absolute;
  background-color: #fff;
  left: -40px;
  top: 50%;
  height: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 0px;
  z-index: 10;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  transition: 0.3s;
}

.social_icons.show-icon {
  left: 0;
  width: 40px;
}

.social_icons i {
  font-size: 25px;
  color: #333;
  opacity: 0.3;
  transition: all 0.3s;
  transform: scale(0.98);
}

.social_icons i.fa-telegram {
  color: #0d6efd;
}

.social_icons i:hover {
  opacity: 1;
  transform: scale(1);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* ============== Social icons end ============= */
/*========= BANNER STYLE END ========== */

/* ============== section portfolio  style here ============= */
#portfolio {
  background: #055160;
}

.card {
  margin-bottom: 20px;
}

.card img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

/* ============== portfolio  style end ============= */

/* ======== section my sertificate here ======= */
#my-sertificates {
  background-image: url(../images/coding.jpg);
  background-size: cover;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-sertificates .card img {
  object-fit: cover;
  height: 100%;
}

#my-sertificates .card {
  transition: all 0.4s ease-in-out;
}

#my-sertificates .card:hover {
  transform: scale(1.03);
}

.owl-theme .owl-nav {
  display: none;
}

/* ======== section my sertificate end ======= */

/* progress bar style here */
.progres_item {
  margin-bottom: 20px;
}

.progres_item h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

/* progress bar style end */

/* scroll to top element style here */
.to-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 16px;
  right: 32px;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  background: #2c58aac6;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease;
  text-decoration: none;
  z-index: 100;
}

.to-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  bottom: 32px;
}

.to-top:hover {
  background: #2c59aa;
}

.to-top .fa-chevron-up {
  color: #fff;
}
/* scroll top element style end */

/* TYPING TEXT ANIMATION */
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0%;
  }
}

/* ALL SOCIAL ICONS */
i {
  transition: all 0.3s ease;
}

i:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px -14px 14px #fff;
  -webkit-box-shadow: 0px 10px -14px 14px #fff;
  -moz-box-shadow: 0px 10px -14px 14px rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .about-img {
    position: relative;
    width: 470px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  .about-img {
    position: relative;
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 960px) {
  .nav-link {
    margin: 15px 0px !important;
  }
}

@media (max-width: 576px) {
  .about-img {
    width: 90%;
    height: 300px;
  }

  .social_icons {
    height: 80%;
  }

  .text-wrapper .text {
    font-size: 25px;
  }
}
/* REVEAL */
/* .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.4s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0px);
} */
